#overlay {
    background-color: rgba(128, 128, 128, 0.5); /* gris transparent */
    position: absolute; /* pour qu'il soit superposé à la table */
}

#overlay {
    pointer-events: none; /* bloque les clics et les hover */
}

.menustore {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #333333;
	text-decoration: none;

}
a.menustore:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FF0000;
	text-decoration: none;
}
.toppoints {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	font-variant: normal;
	color: #F6E205;
	text-decoration: none;

}
.toptexte {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
	text-decoration: none;
}
.gradientpaged {
	background-image: url(/web/20060418073147im_/http://www.trackmanianations.com/images/gradiantpaged.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	color: #000000;
	text-decoration: none;
}
.gradientpageg {
	background-image: url(/web/20060418073147im_/http://www.trackmanianations.com/images/gradiantpageg.jpg);
	background-repeat: repeat-x;
	background-position: right top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	color: #000000;
	text-decoration: none;
}
.TexteTitre {
	font-family: "Arial Black", sans-serif;
	font-size: 20px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
	text-decoration: none;
}
.Popup_TexteTitre {
	font-family: "Arial Black", sans-serif;
	font-size: 20px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #155908;
	text-decoration: none;
}
.Texte {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
	text-decoration: none;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
	margin: 9px;
}
.TexteLettrine {
	font-family: "Arial Black", sans-serif;
	font-size: 30px;
	font-style: normal;
	line-height: 30px;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
	text-decoration: none;

}
.liens {
	font-family: "Arial Black", sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	font-variant: normal;
	color: #FFEA00;
	text-decoration: none;
}
a.liens:hover {

	font-family: "Arial Black", sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	font-variant: normal;
	color: #FF0000;
	text-decoration: none;
}

.page {
	background-color: #064612;
}
th.Dedicated {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	font-variant: normal;
	color: #333333;
	text-decoration: none;
	margin: 9px;
	background-color: #AFCE00;
}
td.Dedicated {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	font-variant: normal;
	color: #333333;
	text-decoration: none;
	margin: 9px;
}
.TMN_Newstexte {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
	text-decoration: none;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	background-image: url(/web/20060418073147im_/http://www.trackmanianations.com/images/Newsd.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	line-height: 18px;
}
.td.backgroundUpperRight {
	background-color: #009003;
}
/*
     FILE ARCHIVED ON 07:31:47 Apr 18, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:37:54 Jan 13, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 846.415
  exclusion.robots: 0.077
  exclusion.robots.policy: 0.069
  cdx.remote: 0.073
  esindex: 0.009
  LoadShardBlock: 72.125 (3)
  PetaboxLoader3.datanode: 101.011 (4)
  CDXLines.iter: 15.837 (3)
  load_resource: 76.761
  PetaboxLoader3.resolve: 18.668
*/