body
  {
  margin:5px;
  }

table
  {
  font-family:Arial;
  font-size:12px;
  }

td.cadre
  {
  border:black 1px solid;
  margin:5px
  }
  
td.cadre3D
  {
  border:black 1px ridge;
  margin:5px;
  border-right-width:3px;
  border-bottom-width:3px;
  }
  
#title
  {
  border-color:black;
  border-bottom-width:1px;
  border-bottom-style:solid;
  background-image:url(/web/20060503064730im_/http://skincenter.tm-community.com/images/bg.jpg);
  background-position:center;
  font-weight:bold;
  font-size:14px;
  font-family:Helvetica;
  padding:2px;
  background-color:#FFCA6A;
  }
  
#title2
  {
  background-image:url(/web/20060503064730im_/http://skincenter.tm-community.com/images/bg.jpg);
  background-position:center;
  font-weight:bold;
  font-size:14px;
  font-family:Helvetica;
  padding:2px;
  background-color:#FFCA6A;
  }
  
#title3
  {
  border-color:black;
  border-bottom-width:1px;
  border-bottom-style:solid;
  background-image:url(/web/20060503064730im_/http://skincenter.tm-community.com/images/bg.jpg);
  background-position:center;
  padding:2px;
  background-color:#FFCA6A;
  }
  
#color
  {
  background-color:#F2F2F2;
  }

#content
  {
  padding:15px;
  text-align:justify;
  }
  
#content8
  {
  padding:8px;
  text-align:justify;
  }
  
#content7
  {
  padding:7px;
  text-align:justify;
  background-color:white;
  }
  
#contentTOP10
  {
  padding:7px;
  text-align:justify;
  }

#souligne
  {
  border-color:black;
  border-bottom-width:1px;
  border-bottom-style:solid;
  font-weight:bold;
  font-size:1.2em;
  }

a 
  {
  color:#FC9B40;
  font-weight:bold;
  text-decoration:none; 
  image-decoration:none; 
  }
  
a.black
  {
  color:black;
  }

a:hover
  {
  color:#FFDE00;
  }

a img
  {
  border:none;
  }

a.border img
  {
  border-color:black;
  border-width:1px;
  border-style:solid;
  }
  
a.menu
  {
  color:black;
  background-color:#F2F2F2;
  text-decoration:none;
  text-align:center;
  padding:3px;
  display:block;
  width:127px;
  vertical-align:bottom;
  }
  
a.menu:hover
  {
  color:black;
  background-color:#F2F2F2;
  background-image: url(/web/20060503064730im_/http://skincenter.tm-community.com/images/menu.jpg);
  background-repeat:no-repeat;
  }
  
a.top10
  {
  color:black;
  text-decoration:none;
  text-align:center;
  padding:3px;
  display:block;
  vertical-align:bottom;
  }
  
a.top10red
  {
  color:red;
  text-decoration:none;
  text-align:center;
  padding:3px;
  display:block;
  vertical-align:bottom;
  }

a.top10:hover
  {
  color:#FC9B40;
  background-repeat:no-repeat;
  }

#small
  {
  font-size:10px;
  }
  
font.big
  {
  font-weight:bold;
  font-size:14px;
  font-family:Helvetica;
  }



/*
     FILE ARCHIVED ON 06:47:30 May 03, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:09:14 Jan 19, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1111.676
  exclusion.robots: 0.139
  exclusion.robots.policy: 0.124
  cdx.remote: 0.109
  esindex: 0.022
  LoadShardBlock: 1057.966 (3)
  PetaboxLoader3.resolve: 1102.805 (4)
  PetaboxLoader3.datanode: 238.413 (4)
  CDXLines.iter: 14.165 (3)
  load_resource: 295.831
*/