.body {
	background-color: #D90200;
	background:  #F0EEEB url(/web/20050306003342im_/http://www.trackmania.com/common/images/tile.gif)
}
.tableunicolor {
	background-color: #F0EEEB ;
}
.nadeobannerlink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.CHclubname {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
.CHtexte {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #333333;
	text-decoration: none;
}
.CHlink {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #0000FF;
	text-decoration: underline;
}
.CHtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #006666;
}
.CHdate {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
.CWtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #006666;
}
.CWtexte {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
.CWlink {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #0000FF;
	text-decoration: underline;
}
.CWclubname {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
.Mtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #006666;
}
.Mtexte {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #333366;
	text-decoration: none;
}
.Mvalue {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
.DHtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #006666;
}
.DHtexte {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
.DHstrong {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #222222;
	text-decoration: none;
}
.DHdate {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
}
.OWtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #006666;
}
.OWtexte {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
.OWlink {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
.tableborder {
	color:#273040;
	background:  #F0EEEB url(/web/20050306003342im_/http://www.trackmania.com/common/images/TM_section_back.gif) repeat-x bottom;
	border: 0;
	border-top: solid 1px white;
	border-left:solid 1px white;
	border-bottom: solid 1px #A9B2BB;
	border-right:solid 1px #A9B2BB;
	vertical-align:top;
}
.NOStitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #CC6600;
}
.NOStexte {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
.NOSstrong {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #222222;
	text-decoration: none;
}
.WStexte {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
.WStitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #006666;
}

/*
     FILE ARCHIVED ON 00:33:42 Mar 06, 2005 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:25:20 Mar 29, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 508.469
  exclusion.robots: 0.151
  exclusion.robots.policy: 0.135
  cdx.remote: 0.134
  esindex: 0.013
  LoadShardBlock: 464.526 (3)
  PetaboxLoader3.datanode: 180.498 (4)
  load_resource: 241.086
  PetaboxLoader3.resolve: 163.541
*/