BODY {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #D3D3D3;
	background-image: url(/web/20060501233128im_/http://www.tm-community.com/images/headbg.gif);
	background-repeat: repeat-x;
	font-style: normal;
	font-weight: normal;
	text-align:center;
	}
	
.texte {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #FFFFFF;
	text-align:justify;
}
.texte_petit {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #FFFFFF;
}
.listeTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: #000000;
}
.t9pt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
}
.tabletitle {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}
.pagetitle { font-size:20;font-weight: bold; text-decoration: underline;color: #FFB400; }


	
A {	COLOR: #FFB400; text-decoration:underline; font-weight: bold;}
A:active {	 COLOR: #FFB400; text-decoration: none;}
A:link {	 COLOR: #FFB400; text-decoration: none;}
A:visited {	COLOR: #FFB400; text-decoration: none;}
A:hover {	COLOR: #000000; text-decoration: underline;}

A.menu:active {	font-size: 9pt;DISPLAY: block; PADDING-LEFT: 5px; MARGIN: 2px; VERTICAL-ALIGN: middle; COLOR: #000000; HEIGHT: 15px; TEXT-DECORATION: none}
A.menu:link {	font-size: 9pt;DISPLAY: block; PADDING-LEFT: 5px; MARGIN: 2px; VERTICAL-ALIGN: middle; COLOR: #000000; HEIGHT: 15px; TEXT-DECORATION: none}
A.menu:visited {	font-size: 9pt;DISPLAY: block; PADDING-LEFT: 5px; MARGIN: 2px; VERTICAL-ALIGN: middle; COLOR: #000000; HEIGHT: 15px; TEXT-DECORATION: none}
A.menu:hover {	font-size: 9pt;BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND:#FFB400; MARGIN: 1px 2px; VERTICAL-ALIGN: middle; BORDER-LEFT: #000000 1px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 24px; TEXT-DECORATION: none}

A.comment {	font-size: 8pt;COLOR: #FFB400; text-decoration:underline;font-weight: normal;}
A.comment:active {	 font-size: 8pt;COLOR: #FFB400; text-decoration: underline;font-weight: normal;}
A.comment:link {	 font-size: 8pt;COLOR: #FFB400; text-decoration: underline;font-weight: normal;}
A.comment:visited {	font-size: 8pt;COLOR: #FFB400; text-decoration: underline;font-weight: normal;}
A.comment:hover {	font-size: 8pt;COLOR: #000000; text-decoration: underline;font-weight: normal;}

A.author {COLOR: #000000; font-size: 12px; font-style: oblique; font-weight: bold; text-decoration: underline;}
A.author:active {COLOR: #000000; font-size: 12px; font-style: oblique; font-weight: bold; text-decoration: underline;}
A.author:link {COLOR: #000000; font-size: 12px; font-style: oblique; font-weight: bold; text-decoration: underline;}
A.author:visited {COLOR: #000000; font-size: 12px; font-style: oblique; font-weight: bold; text-decoration: underline;}
A.author:hover {COLOR: #000000; font-size: 12px; font-style: normal; font-weight: bold; text-decoration: underline;}

/* Element du formulaire */
input,textarea, select{
	color : #000000;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
}

/* Background des element d'un formulaire */
input.post, textarea.post, select {
	background-color : #FFFFFF;
}

/* Boutons de mise en forme */
input.button {
	color : #000000;
	font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* Bouttons option */
input.mainoption {
	font-weight : bold;
}

/* Bouton d'envoi */
input.liteoption {
	background-color : #FFFFFF;
	font-weight : normal;
}

/* Helpbox transparente*/
.helpline { background-color: #909090; border-style: none; color : #FFFFFF; }

.quote {
	border: 1px solid #666666;
	color: #000000;
	font-size:11px;
}

.quote_titre {
	font-size:12px;
	font-weight:bold;
}

.td2 {
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-top-color: #000C00;
	border-right-color: #000C00;
	border-bottom-color: #000C00;
	border-left-color: #000000;
}

.intro{
	text-align:center;
	width:320px;
	border-style:solid;
	border-width: 1px;
	border-color:#333333;
	margin-top: 180px;
	margin-left:auto;
	margin-right:auto;
}
/*
     FILE ARCHIVED ON 23:31:28 May 01, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:12:34 Jan 19, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 297.795
  exclusion.robots: 0.084
  exclusion.robots.policy: 0.076
  cdx.remote: 0.07
  esindex: 0.009
  LoadShardBlock: 266.184 (3)
  PetaboxLoader3.datanode: 118.438 (4)
  CDXLines.iter: 18.714 (3)
  PetaboxLoader3.resolve: 213.379 (3)
  load_resource: 140.458
*/