/*@font-face {
  font-family: SegUIVar;
  src: url(fonts/SegUIVar.ttf)
*/

@font-face {
    font-family: 'TF2main';
    src: url("res$/TF2main.ttf") format("truetype");
}

@font-face {
    font-family: 'TF2secondary';
    src: url("res$/TF2secondary.ttf") format("truetype");
}




h1 {
    color: #ffffff;
    font-size: 300%;
    font-family: TF2secondary;
    color: yellow;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

h2 {
    color: #ffffff;
    font-size: 250%;
    font-family: TF2main;
    color: yellow;
    padding-left: 20px;
    text-align: left;
    font-weight: bold;
}

h4 {
    color: #ffffff;
    font-size: 130%;
    font-family: TF2secondary;
    color: yellow;
    padding-left: 35px;
    text-align: left;
    text-decoration: underline;
}




p,
div,
a {
    font-family: SegUIVar, Segoe UI, sans-serif;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: Segoe UI, SegUIVar, sans-serif;
    text-decoration: none;
}

.separator {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px 0;
}

body {
    background: #252839;
    margin: 0 auto;
    width: 80%;
    height: 100vh; /* ajout de la propriété height avec l'unité de mesure vh */
    padding-top: 5%;
    padding-bottom: 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.gallery {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    width: 25%;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

img:hover {
    opacity: 0.7;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

/* ---------------------------------------------------------------- Pour le 1er bouton interactif*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .separator {
    width: 100%;
    height: 10px;
    background-color: #252839;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .button {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background-color: #252839;
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    color: yellow;
    border: 2px solid rgba(255, 255, 0, 0.5);
  }
  
  p {
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
