.HeaderNadeo {
	font-family: "Arial Black", sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	text-decoration: none;
	font-style: normal;
	line-height: 15px;
	font-weight: normal;
	font-variant: normal;
}
a.HeaderNadeo:hover {
	font-family: "Arial Black", sans-serif;
	font-size: 16px;
	color: #FFCC00;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-decoration: none;
}
td.HeaderNadeo {

}
.HeaderTm {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
}
a.HeaderTm:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FF0000;
	font-weight: bold;
	text-decoration: none;
	font-style: normal;
	line-height: normal;
	font-variant: normal;


}
td.HeaderTm {
	background:url(/web/20060418075618im_/http://www.trackmaniasunrise.com/common/images/ongletarrow.gif);
}
td.HeaderTmActivated {
	background-color: #000000;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}
.HeaderTms {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
a.HeaderTms:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #CCFF00;
	font-weight: bold;
	text-decoration: none;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
}
td.HeaderTms {
	background:url(/web/20060418075618im_/http://www.trackmaniasunrise.com/common/images/onglet.gif);
}
td.HeaderTmsActivated {
	background-color: #D8FF00;
	color: #000000;
	font-weight: bold;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}
.HeaderTmn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
a.HeaderTmn:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #CCFF00;
	font-weight: bold;
	text-decoration: none;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
}
td.HeaderTmn {
	background:url(/web/20060418075618im_/http://www.trackmaniasunrise.com/common/images/onglet.gif);
}
td.HeaderTmnActivated {
	background-color: #009003;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}
.HeaderVsk {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	font-style: normal;
	line-height: normal;
	font-variant: normal;


}
a.HeaderVsk:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #4687FF;
	font-weight: bold;
	text-decoration: none;
	font-style: normal;
	line-height: normal;
	font-variant: normal;

}
td.HeaderVsk {
	background:url(/web/20060418075618im_/http://www.trackmaniasunrise.com/common/images/ongletarrow.gif);
}
td.HeaderVskActivated {
	background-color: #4687FF;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	background:url(/web/20060418075618im_/http://www.trackmaniasunrise.com/images/ongletvsk3.gif);
}
.Newstexte {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
	text-decoration: none;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	background-image: url(/web/20060418075618im_/http://www.trackmaniasunrise.com/common/images/Newsd.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	line-height: 18px;
}
.Listboxd {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
	text-decoration: none;
}
.listecountry {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
	text-decoration: none;
	border: 1px solid #000000;
	background-color: #000000;
	vertical-align: middle;
	width: 250px;

}
.champstexte {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	font-variant: normal;
	color: #333333;
	text-decoration: none;
	border: 1px solid #000000;
	background-color: #FFFFFF;
	text-align: left;
	text-indent: 6px;
	margin: 0px;
	padding: 0px;
	width: 140px;
	height: 20px;
}
form {
	margin: 0px;
	padding: 0px;
}
.boutonok {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #000000;
	border: 0px;
	width: 26px;
	height: 20px;
}
.bouton_dedicated {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #000000;
	border: 0px;
	width: 60px;
	height: 20px;
}
.label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.screenshots {
	background-image: url(/web/20060418075618im_/http://www.trackmaniasunrise.com/common/images/screenshots.jpg);
	background-repeat: no-repeat;



}
.screenshotslink {
	border: thin solid #0000FF;
}
a.screenshotslink:hover {
	border: thin solid #FF0000;
}
body.NadeoBody {
	background-color: #584F64;
}
td.communitysite {
	height: 36px;
	vertical-align: bottom;
}
/*
     FILE ARCHIVED ON 07:56:18 Apr 18, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:32:58 Jan 13, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 425.93
  exclusion.robots: 0.065
  exclusion.robots.policy: 0.059
  cdx.remote: 0.057
  esindex: 0.008
  LoadShardBlock: 401.497 (3)
  PetaboxLoader3.datanode: 54.557 (4)
  CDXLines.iter: 14.297 (3)
  PetaboxLoader3.resolve: 588.444 (2)
  load_resource: 336.274
*/