/******************/
/* Menu deroulant */
/******************/
#menuDeroulant
{
	background: #6A6458;
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 0;
	z-index: 100;
}
#menuDeroulant li
{
	float: left;
	width: 150px;
	margin: 0;
	padding: 0;
	border: 0;
}
#menuDeroulant li a:link, #menuDeroulant li a:visited, #menuDeroulant li a:active
{
	display: block;
	height: auto;
	color: #cc4000; 
	line-height: 2em; 
	height: 28px;
	background: none transparent scroll repeat 0% 0%;
	margin: 0;
	padding: 0;
	border-right: 0;
	text-decoration: none;
}
#menuDeroulant li a:hover { background-image: url(/web/20060618130127im_/http://www.trackmania-carpark.com/images/menubg.jpg); color: #ff5000; }

#menuDeroulant #sousMenu
{
	display: none;
	position: absolute;
	list-style-type: none;
	color:#333333;
	font-size: 11px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	border: 0;
	z-index: 1;
}
#menuDeroulant #sousMenu li
{
	float: none;
	cursor: pointer;
	margin: 0;
	padding: 0;
	border: 0;
	width: 200px;
	border-bottom: 1px solid #666666;
	border-right: 1px solid #666666;
	border-left: 1px solid #666666;
	background: transparent url("/web/20060618130127im_/http://www.trackmania-carpark.com/images/fondTR.png") repeat;
}
#menuDeroulant #sousMenu li a:link, #menuDeroulant #sousMenu li a:visited
{
	display: block;
	color: #FFF;
	margin: 0;
	padding:0;
	border: 0;
	text-decoration: none;
	background: transparent url("/web/20060618130127im_/http://www.trackmania-carpark.com/images/fondTR.png") repeat;
}
#menuDeroulant #sousMenu li a:hover
{
	background-image: none;
	background-color: #F2462E;
	margin: 0;
	padding:0;
}

#menuDeroulant li:hover > #sousMenu { display: block; }

TD.black {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
TABLE.black {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid; BORDER-COLLAPSE: collapse
}




/***************************/
/* Entete cadres vehicules */
/***************************/
TD.smenu {
	BORDER-RIGHT: #000000 1px solid;
	BORDER-TOP: #000000 1px solid;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	BACKGROUND-IMAGE: url(/web/20060618130127im_/http://www.trackmania-carpark.com/images/smenu.jpg);
	BORDER-LEFT: #000000 1px solid;
	background-repeat: repeat-x;
}

TD.smenuTMS {
	BORDER-RIGHT: #000000 1px solid;
	BORDER-TOP: #000000 1px solid;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	BACKGROUND-IMAGE: url(/web/20060618130127im_/http://www.trackmania-carpark.com/images/smenuTMS.jpg);
	BORDER-LEFT: #000000 1px solid;
	background-repeat: repeat-x;
}

TD.smenuTMO {
	BORDER-RIGHT: #000000 1px solid;
	BORDER-TOP: #000000 1px solid;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	BACKGROUND-IMAGE: url(/web/20060618130127im_/http://www.trackmania-carpark.com/images/smenuTMO.jpg);
	BORDER-LEFT: #000000 1px solid;
	background-repeat: repeat-x;
}

TD.smenuTMN {
	BORDER-RIGHT: #000000 1px solid;
	BORDER-TOP: #000000 1px solid;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	BACKGROUND-IMAGE: url(/web/20060618130127im_/http://www.trackmania-carpark.com/images/smenuTMN.jpg);
	BORDER-LEFT: #000000 1px solid;
	background-repeat: repeat-x;
}

TD.smenuTMN TD.titlenews, TD.smenuTMS TD.titlenews, TD.smenuTMO TD.titlenews  {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px;
	color:#FFFFFF;
}

TD.titlenews{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px;
}








TD.date {
	FONT-SIZE: 10px
}
TD.green {
	BORDER-RIGHT: #b4ff00 1px solid; BORDER-TOP: #b4ff00 1px solid; BORDER-LEFT: #b4ff00 1px solid; BORDER-BOTTOM: #b4ff00 1px solid
}
TABLE.green {
	BORDER-RIGHT: #b4ff00 1px solid; BORDER-TOP: #b4ff00 1px solid; BORDER-LEFT: #b4ff00 1px solid; BORDER-BOTTOM: #b4ff00 1px solid; BORDER-COLLAPSE: collapse
}
BODY {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cccccc
}
.text {
	FONT-SIZE: 12px
}
.textsmenu {
	FONT-SIZE: 10px
}
.textbold {
	FONT-WEIGHT: bold
}
.nicklist {
	FONT-WEIGHT: bold; FONT-STYLE: italic
}
.sign {
	FONT-WEIGHT: bolder; FONT-SIZE: 10px
}
.news {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; TEXT-DECORATION: underline
}
A.menu:active {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 0px; VERTICAL-ALIGN: middle; COLOR: #cc4000; LINE-HEIGHT: 2em; HEIGHT: 28px; TEXT-DECORATION: none
}
A.menu:link {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 0px; VERTICAL-ALIGN: middle; COLOR: #cc4000; LINE-HEIGHT: 2em; HEIGHT: 28px; TEXT-DECORATION: none
}
A.menu:visited {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 0px; VERTICAL-ALIGN: middle; COLOR: #cc4000; LINE-HEIGHT: 2em; HEIGHT: 28px; TEXT-DECORATION: none
}
A.menu:hover {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND-IMAGE: url(/web/20060618130127im_/http://www.trackmania-carpark.com/images/menubg.jpg); MARGIN: 0px; VERTICAL-ALIGN: middle; COLOR: #ff5000; LINE-HEIGHT: 2em; HEIGHT: 28px; TEXT-DECORATION: none
}
input,textarea, select{
	color : #000000;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
}
/* Helpbox transparente*/
.helpline { background-color: #FFFFFF; border-style: none; color : #000000; }

A.link2:active {	 COLOR: #333333; text-decoration: underline;}
A.link2:link {	 COLOR: #333333; text-decoration: underline;}
A.link2:visited {	COLOR: #333333; text-decoration: underline;}
A.link2:hover {	COLOR: #000000;}

A.link3 {	COLOR: #000000; text-decoration: none;}
A.link3:active {	 COLOR: #000000; text-decoration: none;}
A.link3:link {	 COLOR: #000000; text-decoration: none;}
A.link3:visited {	COLOR: #000000; text-decoration: none;}
A.link3:hover {	COLOR: #FF6600; text-decoration: none;}

A.link3bis {	COLOR:#FFFFFF; text-decoration: none;}
A.link3bis:active {	 COLOR: #FFFFFF; text-decoration: none;}
A.link3bis:link {	 COLOR: #FFFFFF; text-decoration: none;}
A.link3bis:visited {	COLOR: #FFFFFF; text-decoration: none;}
A.link3bis:hover {	COLOR:#FFFF66; text-decoration: none;}

A.link4 {	COLOR: #000000; text-decoration:underline; font-weight: bold;}
A.link4:active {	 COLOR: #000000; text-decoration:underline; font-weight: bold;}
A.link4:link {	 COLOR: #000000; text-decoration:underline; font-weight: bold;}
A.link4:visited {	COLOR: #000000; text-decoration:underline; font-weight: bold;}
A.link4:hover {	COLOR: #FF6600; text-decoration: none;}

A {	COLOR: #FF6600; text-decoration:underline; font-weight: bold;}
A:active {	 COLOR: #FF6600; text-decoration: none;}
A:link {	 COLOR: #FF6600; text-decoration: none;}
A:visited {	COLOR: #FF6600; text-decoration: none;}
A:hover {	COLOR: #FF9900; text-decoration: underline;}

.txterror {
	font-size: 10px;
	font-weight: bold;
	color: #FF0000;
}
.txtvalider {
	font-size: 10px;
	font-weight: normal;
}

.lang{
	background-color:#000000;
	margin:5px;
}

#span_tmn, #span_tmo, #span_tms{
	padding-top: 5px;
	padding-bottom:5px;
	margin:0;
}

#tmn_compatible, #tmo_compatible, #tms_compatible{
	margin-top: 4px;
	margin-bottom:4px;
	padding:0;
}

#conversion{
	border:#FF0000 dashed 1px;
	margin:4px;
	padding: 4px;
}

#conversionLeft{
	float:left;
}

#conversionRight{
	float:right;
}

.hrGhost{
	clear:both;
	display:block;
	border:0;
	margin:0;
	padding:0;
}

.divSpacer{
	clear:both;
	line-height:1px;
	margin:0;
}

/*
     FILE ARCHIVED ON 13:01:27 Jun 18, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:03:01 Jan 19, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 368.268
  exclusion.robots: 0.086
  exclusion.robots.policy: 0.078
  RedisCDXSource: 0.975
  esindex: 0.008
  LoadShardBlock: 345.172 (3)
  PetaboxLoader3.datanode: 165.301 (4)
  CDXLines.iter: 19.233 (3)
  PetaboxLoader3.resolve: 221.106 (3)
  load_resource: 111.897
*/